# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/

# Environment variables
.env

# Docker
docker-compose.override.yml
ollama_data/

# Vector DB dump (keep folder, ignore data)
vector_db/db_dump/*
!vector_db/db_dump/.gitkeep

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db
