.app-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--color-text);
    font-size: 0.9rem;
    flex-shrink: 0;
    width: 100%;
    background-color: #242424;
}
